:root {
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --backround-color: #2f303a;
}