.clients {
  align-items: center;
}
.client-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  @include mq(mobile-only) {
    margin-bottom: 30px;
  }
  @include mq(mobile) {
    margin-bottom: 30px;
  }
  @include mq(tablet) {
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}
.clients-list {
  @include mq(mobile-only) {
    display: block;
  }
  @include mq(mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-list-item {
  @include mq(mobile-only) {
    width: 210px;
    margin: auto;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @include mq(mobile) {
    width: 210px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(n-2) {
      margin-bottom: 30px;
    }
  }
  @include mq(tablet) {
    width: 226px;
    &:nth-child(3n) {
      margin-bottom: 30px;
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:nth-child(4) {
      margin-right: 30px;
    }
  }
  @include mq(desktop) {
    width: 170px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  height: 92px;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.client-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border-color var(--duration) var(--timing-function);
  &:hover .client-btn-icon,
  &:focus .client-btn-icon {
    fill: var(--accent-color);
  }
  @include mq(tablet) {
    width: 100%;
  }
}

.client-btn-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}
