.menu{
  @include mq(mobile-only) {
      position: absolute;
      justify-content: space-between;
      background-color: var(--primary-white-color);
      padding: 40px;
      width: 100%;
      height: 100%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  
      transition: transform var(--duration) var(--timing-function);
    }
  @include mq(mobile) {
      position: absolute;
      
      background-color: var(--primary-white-color);
      padding: 40px;
      width: 100%;
      height: 100%;
      top: 45%;
      left: 50%;
      justify-content: space-between;
      transform: translate(-50%, -45%);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  
      transition: transform var(--duration) var(--timing-function);
    }
}
.menu-btn-open {
  @include mq(mobile) {
    padding: 0;
    justify-content: center;
    text-align: center;
    display: inline;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
  }
  @include mq(mobile-only) {
    padding: 0;
    justify-content: center;
    text-align: center;
    display: inline;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
  }
  @include mq(tablet) {
    display: none;
  }

  @include mq(desktop) {
    display: none;
  }
}

.menu-open-icon {
  @include mq(mobile) {
  }
  @include mq(mobile-only) {
  }
  fill: var(--primary-text-color);
  width: 40px;
  height: 40px;
}
.menu-btn-close {
  @include mq(mobile) {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    fill: var(--primary-text-color);
    margin-bottom: 8px;
    transition: var(--duration) var(--timing-function);

    &:hover .menu__svg {
      fill: var(--accent-color);
    }
  }
  @include mq(mobile-only) {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    fill: var(--primary-text-color);
    margin-bottom: 8px;
    transition: var(--duration) var(--timing-function);

    &:hover .menu__svg {
      fill: var(--accent-color);
    }
  }
}
.menu__svg {
  @include mq(mobile) {
    width: 20px;
    height: 20px;
  }
  @include mq(mobile-only) {
    width: 20px;
    height: 20px;
  }
}
.menu-list-item {
  @include mq(mobile) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &:nth-child(3) {
      margin-bottom: 300px;
    }
  }
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &:nth-child(3) {
      margin-bottom: 300px;
    }
  }
}
.menu-list-link {
  @include mq(mobile) {
    display: inline;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: var(--duration) var(--timing-function);
    }
  }
  @include mq(mobile-only) {
    display: inline;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: var(--duration) var(--timing-function);
    }
  }
}
.cur-page {
  @include mq(mobile) {
    color: var(--accent-color);
  }
  @include mq(mobile-only) {
    color: var(--accent-color);
  }
}
.contact-menu-item {
  @include mq(mobile) {
    &:nth-child(1) {
      margin-bottom: 30px;
    }

    &:nth-child(2) {
      margin-bottom: 65px;
    }
  }
  @include mq(mobile-only) {
    &:nth-child(1) {
      margin-bottom: 30px;
    }

    &:nth-child(2) {
      margin-bottom: 65px;
    }
  }
}
.contact-menu-link {
  @include mq(mobile) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  @include mq(mobile-only) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}
.color {
  @include mq(mobile) {
    color: var(--accent-color);
  }
  @include mq(mobile-only) {
    color: var(--accent-color);
  }
}
.soc-menu {
  @include mq(mobile) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @include mq(mobile-only) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.soc-menu-item {
  @include mq(mobile) {
    display: flex;

    &:not(:last-child) {
      margin-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
  @include mq(mobile-only) {
    display: flex;

    &:not(:last-child) {
      margin-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}
.soc-dec {
  @include mq(mobile) {
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  @include mq(mobile-only) {
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
