body {
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
}
.section {
    @include mq(mobile-only) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @include mq(mobile) {
            padding-top: 60px;
                padding-bottom: 60px;
        }
    
        @include mq(tablet) {
            padding-top: 60px;
                padding-bottom: 60px;
        }
    
        @include mq(desktop) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
  
    
}
