h1,
h2,
h3,
p,
ul {
    margin: 0;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    @include mq(desktop){
    color: var(--primary-text-color);
    }
    color: var(--accent-color);
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}