h1,
h2,
h3,
p,
ul {
    margin: 0;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: var(--primary-text-color);
    text-decoration: none;
}
img {
    display: block;
}