h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--accent-color);
  @include mq(tablet) {
  color: var(--primary-text-color);
  }

  @include mq(desktop) {
   color: var(--primary-text-color);
  }
  text-decoration: none;
}
img {
  @include mq(mobile){
    width: 100%;
  }
  @include mq(mobile-only){
    width: 100%;
  }
  display: block;
  height: auto;
}
